body {
    margin-top: 10px;
    font-family: "Source Sans Pro", sans-serif;
}

.home-page {
    max-width: 800px;
}

.home-page .jumbotron {
    padding-top: 5px;
    padding-bottom: 15px;
}

.home-page .jumbotron h1 {
    margin-top: 0;
}

.screenshot {
    max-width: 100%;
}

.nav > li > a {
	padding: 5px;
}

.panel, .list-group {
    margin-bottom: 10px;
}
.panel-heading {
    padding: 5px 10px;
}
.panel-body {
    padding: 5px;
}

.sign-out {
    width: 100%;
    margin-bottom: 10px;
}

.circle {
  background-color: green;
  background-size: 156px 156px;
  border-radius: 50%;
  width: 156px;
  height: 156px;
  margin: 15px;
  color: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 156px;
  text-align: center;
  font-size: 34px;
}

.profitWarning {
  background-color: red;
}

.text-muted {
  color: #777;
  font-size: 16px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
}

@media (min-width: 768px) {
    .accounts {
        position: fixed;
    }
}